
  
@media only screen and (min-width: 576px)
  #copyright
    text-align: left
  #social
    text-align: right
@media only screen and (max-width: 576px)
  #copyright
    order: 2
    text-align: center
  #social
    order: 1
    text-align: center
