footer
  background: $color-bg-dark
  padding-top: 1.5em
  padding-bottom: 1em
  a
    color: black 
    text-decoration: none !important
    transition: 0.5s
    &:hover
      color: $color-text-red
  .text-md-left 
    span
      line-height: 2
      text-transform: uppercase
      margin-left: 0.5em
  .text-md-right
    i
      font-size: 14px
      margin-left: 1em
      cursor: pointer
