.strength-p.show
  left: 0vw

.strength-p
  top: 0
  left: 100vw
  transition: 0.5s
  .icons-top
    img
      max-width: 100%
    .skills-icons
      h5
        line-height: 0.5
      img
        max-width: 80%
        margin-left: 10%
        margin-bottom: 0.5em


