.strength-p.show
  left: 0vw

.strength-p
  top: 0
  left: 100vw
  transition: 0.5s
  .icons-top
    .skills-slider
      img 
        max-height: 340px
    img
      max-width: 100%
    .skills-icons
      // text-align: center !important
      // background: red
      align-items: center
      justify-content: center
      h5
        line-height: 0.5
      img
        width: 80%
        max-width: 150px
        // margin-left: 10%
        margin-bottom: 0.5em


