.strength-p.show
  left: 0vw

.strength-p
  top: 0
  left: 100vw
  transition: 0.5s
  // #client-logo
    // img
      // display: flex
      // max-height: 100px
    
  img
    max-width: 100%
  .icons-top
    .skills-slider
      min-height: 390px
      margin-top: calc(30px * 3) 
      position: relative
      img 
        left: 0
        right: 0
        margin: auto
        max-height: 340px
        position: absolute
        max-width: 60%
        &:nth-child(1)
          left: calc(-15px * 5) 
          top: 0
          z-index: 0
        &:nth-child(2)  
          left: calc(-5px * 5) 
          top: calc(-10px * 3) 
          z-index: 1
        &:nth-child(3)  
          left: calc(5px * 5)   
          top: calc(-20px * 3) 
          z-index: 2
        &:nth-child(4)  
          left: calc(15px * 5)  
          top: calc(-30px * 3) 
          z-index: 3


    .skills-icons
      // text-align: center !important
      // background: red
      align-items: center
      justify-content: center
      h5
        line-height: 0.5
      img
        width: 80%
        max-width: 150px
        // margin-left: 10%
        margin-bottom: 0.5em
  .skills-big-icons  
    img
      max-width: 100%
  #client-int
    position: relative
    .left, .right
      position: absolute
      z-index: 1
      i
        font-size: 6vw
        color: $color-text-main-min-light
      .text
        position: absolute
        left: 90%
        top: 1vw
        bottom: 0
        margin: auto
        width: 100px
        display: flex
        flex-direction: column
        // align-items: center
        justify-content: center
        *
          line-height: 0.8
        h1
          color: white  
          font-weight: bold
        h6
          color: $color-text-red
        // max-width: 10vw
    .left, .right
      left: 35%
      top: 0
      bottom: 0
      margin: auto
      display: inline-table
      // height: 100px
    .right
      left: auto
      right: 35%


@media (min-width: 1170px)
  .strength-p
    #client-int
      .text
        top: 5px !important
      i
        font-size: 75px !important

@media (max-width: 1170px)    
  .strength-p
    #client-int
      .left
        left: 30%
      .right
        right: 30%

@media (max-width: 750px)
  .strength-p
    #client-int
      i
        font-size: 50px !important