.portfolio-p(class="{{show ? 'show' : ''}}")
    .container.back-arrow.margin-top-40.margin-bottom-40
        .row
            .col-md-12.text-right
                i.fa.fa-chevron-right(aria-hidden='true', (click)='pageClose')
    .container
        .row
            .col-md-4
                a(*ngFor='let el of portfolioEl1', href="{{el.src.toString() != 'null' ? el.src : ''}}") {{el.title}}
            .col-md-4
                a(*ngFor='let el of portfolioEl2', href="{{el.src.toString() != 'null' ? el.src : ''}}") {{el.title}}
            .col-md-4
                a(*ngFor='let el of portfolioEl3',href="{{el.src.toString() != 'null' ? el.src : ''}}") {{el.title}}

