//global
@import url('https://fonts.googleapis.com/css?family=Open+Sans')
i
  font-family: Open Sans
h1
  font-family: Open Sans
  font-size: 45px
h5
  font-family: Open Sans
  font-size: 14px
h4
  font-family: Open Sans
  font-size: 16px
h6
  font-family: Open Sans
  font-size: 12px

//body, html
html
  -webkit-text-size-adjust: 100%
  box-sizing: border-box
  overflow: hidden
body
  padding: 0
  margin: 0
  overflow: hidden
  min-width: 100%
  max-width: 100%
  //background-image: url("https://pp.userapi.com/c837429/v837429435/2364e/Bm93TTcYULg.jpg")
  background-repeat: no-repeat
  background-size: cover
  max-width: 100%
  min-width: 100%
  background-position: left top

//preloader
@keyframes preloaderHide
  0%
    display: block
    opacity: 1
  80%
    opacity: 0
  100%
    display: none

#preloader
  user-select: none
  opacity: 0
  background: #fff
  position: fixed
  z-index: 9999
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex
  align-items: center
  justify-content: center

  #preloaderImg
    user-select: none
    width: 10em
    height: 10em
    background: red
    background: url("./img/preloader.svg") no-repeat
    background-size: contain

.preloaderHide
  animation: preloaderHide  2s alternate

// margin
.margin-bottom-119
  margin-bottom: 119px
.margin-top-119
  margin-top: 119px

.margin-bottom-40
  margin-bottom: 40px
.margin-top-40
  margin-top: 40px

.margin-bottom-89
  margin-bottom: 89px
.margin-top-89
  margin-top: 89px

//
//.h1-title-block
//  text-transform: uppercase
//  display: flex
//  align-items: center
//  justify-content: center
//  .h1-title
//    font-size: 8em
//    font-weight: bold
//    line-height: 1
//    position: relative
//    //color: $color-text-main-light
//    //background: url(https://www.google.com.ua/images/branding/googlelogo/2x/googlelogo_color_120x44dp.png) no-repeat
//    -webkit-background-clip: text
//    -webkit-text-fill-color: transparent
//    //background-image: url(../img/111I.png)
//    background-size: cover
//    background-repeat: no-repeat
////color: red
////@media (max-width: 991px)
////  .h1-title-block
////    position: absolute
////    left: 0
////    top: 0
////    padding: 5em
////
////@media (max-width: 500px)
////  .h1-title-block
////    .h1-title
////      font-size: 3em
////.show
////  .page-controls
////    display: flex !important
////
////.display-block
////  display: block !important
////
////
////.content-block-full
////  background: #ffffff
////  max-width: 100%
////  min-width: 100%
////  max-height: 100vh
////  min-height: 100vh
////  margin: 0px
////  padding-top: 50px
////  overflow-y: auto !important
////
////.page-controls
////  position: relative
////  justify-content: center
////  //position: fixed
////  width: 100%
////  top: 5px
////  left: 0
////  z-index: 999
////  //background: red
////  min-height: 50px
////  margin-right: 0
////  margin-left: 0
////  .rightButton
////    position: absolute
////    z-index: 1
////    right: 0
////    top: 1em
////    cursor: pointer
////
//////button
//////  background: transparent
//////  border: 0
//////  outline: none !important
//////  font-size: 25px
//////  transition: 0.5s
//////  cursor: pointer
//////  color: $color-text-main
//////  &:hover
//////    color: lighten($color-text-main, 25%)
////
////
////.btn:focus,.btn:active:focus,.btn.active:focus,
////.btn.focus,.btn:active.focus,.btn.active.focus
////  outline: none !important
////  box-shadow: none
////
////.display-none, .loadMore-display-none
////  display: none !important
////
////
//
//
//
//
//.about-p.show
//  top: 0
//.about-p
//  top: -100vh
//  left: 0
//  hr
//    background: black
//    width: 60%
//  img
//    max-width: 100%
//  .red-btn
//    margin-right: 1em
//  hr
//    margin-top: 0.5em
//    margin-bottom: 0.5em
//  .line
//    position: relative
//    .font-weight-bold
//      margin-bottom: 0
//    .text-md-right
//      margin-bottom: -3em
//      hr
//        background: black
//        width: 60%
//        margin-right: 0
//      h1
//        position: relative
//        &:after
//          //+dot(auto, -17.5px)
//    .text-md-left
//      margin-bottom: -3em
//      hr
//        margin-left: 0
//      h1
//        position: relative
//        &:after
//          //+dot(-17.5px, auto)
//    h6
//      line-height: 1.2
//    &:after
//      position: absolute
//      content: ''
//      width: 1px
//      height: calc(100% + 5em)
//      background: black
//      top: 5em
//      bottom: 0
//      left: 0
//      right: 0
//      margin: auto
//
//
//@media (max-width: 768px)
//  .about-p
//    .text-md-right, .text-md-left
//      margin: auto !important
//    hr
//      width: 50% !important
//      margin-right: 25% !important
//      margin-left: 25% !important
//    .margin-bottom-7
//      margin-bottom: 3em
//    .line
//      h1
//        margin-top: 0.5em
//    h1, .line
//      &:after
//        display: none
//
//.about-p
//  .education-contant
//    .text-md-right
//      hr
//        background: black
//        width: 60%
//        margin-right: 0
//    .text-md-left
//      hr
//        background: black
//        width: 60%
//        margin-left: 0
//
//@media (max-width: 767px)
//  .about-p
//    .line
//      margin-bottom: 40px
//      margin-top: -35px
////hr
////  background: red
////  margin-top: 0
////  margin-left: 0
//// h6.font-weight-bold
//   margin-bottom: 0