include ./mixins.jade

.about-p.content-block-full
    +back-arrow('fa-chevron-down', 'about-p')
    .container.margin-top-55
        .row
            //- ABOUT ME
            .col-lg-2.col-xl-3.col-sm-1
            .col-lg-8.col-xl-6.col-sm-10.margin-bottom-89
                .row
                    .col-md-6.text-center.text-md-left
                        img(src='./img/stranch.png')
                    .col-md-6.text-center.text-md-left
                        +page-title('ABOUT ME', 'who i am')
                        h6.margin-top-55 I’m a Graphic designer with more than 12 years of professional experience in advertisement and marketing agencies. I created a variety of products of different complexity and style – from branding to billboards and business cards. I get my inspiration in new tasks,  so learning of new technologies and methodologies wouldn’t be a problem for me.
                        a(href="./Nataliya_Yeromina_web.pdf", target="_blank")
                            button.red-btn DOWNLOAD
                        //a(href="", target="_blank")
                        //    button.red-btn Hire Me
            .col-lg-2.col-xl-3.col-sm-1
            //- EXPERIENCE
            .col-lg-2.col-xl-3.col-sm-1
            .col-lg-8.col-xl-6.col-sm-10.margin-bottom-55
                .row
                    .col.text-center
                        +page-title('EXPERIENCE', 'working')
            .col-lg-2.col-xl-3.col-sm-1

            .col-lg-2.col-xl-3.col-sm-1
            .col-lg-8.col-xl-6.col-sm-10.line.margin-bottom-119
                .row
                    //- 2018
                    .col-md-6.text-center.text-md-right
                    .col-md-6.text-center.text-md-left
                        h1.font-weight-bold 2018
                        h6.font-weight-bold Graphic designer
                        h6 Mirskiy Solutions Inc, Florida, USA
                        hr
                        h6 Graphic design for desktop applications, web-graphic design, design of icons and backgrounds
                        h6.font-weight-bold Graphic designer, technical designer
                        h6 Holding "Atlanta", Odessa, Ukraine
                        hr
                        h6 Created visual aspects of marketing materials, websites and other media, including infographics. Presented designs to clients. Checked and received approval for all color, copy, text, and format selections and scaling images for print production; Prepared final designs for print or presentation;  Professional approach to time, costs and deadlines of creating of visual concepts. Developed composition and product design for advertisements, brochures, magazines and other advertising media.
                    //- 2017
                    .col-md-6.text-center.text-md-right
                        h1.font-weight-bold 2017
                        h6.font-weight-bold Graphic designer, technical designer
                        h6 Holding "Atlanta", Odessa, Ukraine
                        hr
                        h6 Worked with the entire marketing team to develop and transform sales, marketing and product positioning concepts; Designed and created of company logos and brand books; Re-pressed preparation of layouts for offset, digital and large-format printing. Advising clients on strategies to reach a particular audience. Developed concepts, graphics and layouts for product illustrations and company logos. Determined size and arrangement of illustrative material, font style and size, prepared rough drafts based on an agreed brief
                    .col-md-6.text-center.text-md-left
                    - 2016
                    .col-md-6.text-center.text-md-right
                    .col-md-6.text-center.text-md-left
                        h1.font-weight-bold 2016
                        h6.font-weight-bold Teaching fellow of the Department of Computer-Mathematical Modeling and Web
                        hr
                        h6 Taught computer grap,hics, information and coding theory. Utilized Computer-mathematical modeling in modern information technologies
                    //- 2014
                    .col-md-6.text-center.text-md-right
                        h1.font-weight-bold 2014
                        h6.font-weight-bold Graphic designer
                        h6 Corporation "Novotehnika" Ukraine
                        hr
                    .col-md-6.text-center.text-md-left
                    //- 2012
                    .col-md-6.text-center.text-md-right
                    .col-md-6.text-center.text-md-left
                        h1.font-weight-bold 2012
                        h6.font-weight-bold Graphic designer
                        hr
                        h6 Advertising agency PiArt, Donetsk, Ukraine
                    //- 2008
                    .col-md-6.text-center.text-md-right
                        h1.font-weight-bold 2008
                        h6.font-weight-bold Graphic designer
                        h6 Advertising agency "Aurora", Donetsk, Ukraine
                        hr
                    .col-md-6.text-center.text-md-lef
                    //- 2006
                    .col-md-6.text-center.text-md-right
                    .col-md-6.text-center.text-md-left
                        h1.font-weight-bold 2006
                        h6.font-weight-bold I started my career
                        hr
            .col-lg-2.col-xl-3.col-sm-1
            //- EDUCATION
            .col-lg-2.col-xl-3.col-sm-1
            .col-lg-8.col-xl-6.col-sm-10.margin-top-55
                .row
                    .col.text-center.margin-bottom-55
                        +page-title('EDUCATION', 'LEARNING')
            .col-lg-2.col-xl-3.col-sm-1

            .col-lg-2.col-xl-3.col-sm-1
            .col-lg-8.col-xl-6.col-sm-10.education-contant
                .row.margin-bottom-89
                    .col.text-center.text-md-right
                        h1.font-weight-bold 2009
                        hr
                        h6.font-weight-bold Donetsk National University, Ukraine
                        h6 Master of Applied Mathematics, Mathematical faculty, Applied Mathematics Specialty
                    .col.text-center.text-md-left
                        h1.font-weight-bold 2015
                        hr
                        h6.font-weight-bold Donetsk National University, Ukraine
                        h6 Post-graduate student, Faculty of Mathematics and Informational Technology, Mechanics of a deformable solid
            .col-lg-2.col-xl-3.col-sm-1
    include ./footer.jade