include ./mixins.jade

.about-p.content-block-full
    .container
        .row
            .col-lg-2.col-xl-3.col-sm-1
            .col-lg-8.col-xl-6.col-sm-10
                .row
                    .col-md-6
                        img(src='./img/stranch.png')
                    .col-md-6.margin-bottom-4
                        +page-title('ABOUT ME', 'who i am')
                        br
                        br
                        h5 I’m a Graphic designer with more than 12 years of professional experience in advertisement and marketing agencies. I created a variety of products of different complexity and style – from branding to billboards and business cards. I get my inspiration in new tasks,  so learning of new technologies and methodologies wouldn’t be a problem for me.
                        br
                        button.red-btn DOWNLOAD
                        button.red-btn Hire Me
            .col-lg-2.col-xl-3.col-sm-1




