.container.social-container
    .row
        .col Copyright © 2018 Portfolio. All Rights Reserved
        .col.text-right
            .social
                a.link.facebook(href='https://facebook.com/ondrej.p.barta', target='_parent')
                    span.fab.fa-facebook-square
                a.link.twitter(href='https://twitter.com/PageOnlineXS', target='_parent')
                    span.fab.fa-twitter
                a.link.google-plus(href='https://plus.google.com/+OndřejBárta-Otaku', target='_parent')
                    span.fab.fa-google-plus-square

                
                

