.index-p
    nav
        a(href='#about', onclick="toggleModal('.about-p')").top about
        a(href='#portfolio', onclick="toggleModal('.strength-p')").right strength
        a(href='#contact', onclick="toggleModal('.contact-p')").bottom contact
        a(href='#portfolio', onclick="toggleModal('.portfolio-p')").left portfolio
    .content-block
        p You will need to have control over the font that is used in order to use this text.
        p You will need to have control over the font that is used in order to use this text.
        p You will need to have control over the font that is used in order to use this text.
        p You will need to have control over the font that is used in order to use this text.
        p You will need to have control over the font that is used in order to use this text.
        p You will need to have control over the font that is used in order to use this text.
        p You will need to have control over the font that is used in order to use this text.
        p You will need to have control over the font that is used in order to use this text.
        p You will need to have control over the font that is used in order to use this text.
        p You will need to have control over the font that is used in order to use this text.
        p You will need to have control over the font that is used in order to use this text.
        p You will need to have control over the font that is used in order to use this text.
        p You will need to have control over the font that is used in order to use this text.
        p You will need to have control over the font that is used in order to use this text.
        p You will need to have control over the font that is used in order to use this text.
        p You will need to have control over the font that is used in order to use this text.
        p You will need to have control over the font that is used in order to use this text.
        p You will need to have control over the font that is used in order to use this text.
        p You will need to have control over the font that is used in order to use this text.
        p You will need to have control over the font that is used in order to use this text.
        p You will need to have control over the font that is used in order to use this text.
        p You will need to have control over the font that is used in order to use this text.
        p You will need to have control over the font that is used in order to use this text.
        p You will need to have control over the font that is used in order to use this text.











