.index-p
    nav
        a(href='#about', onclick="toggleModal('.about-p')").top about
        a(href='#portfolio', onclick="toggleModal('.strength-p')").right strength
        a(href='#contact', onclick="toggleModal('.contact-p')").bottom contact
        a(href='#portfolio', onclick="toggleModal('.portfolio-p')").left portfolio










