include ./mixins.jade

.portfolio-p.content-block-full
    +back-arrow('fa-arrow-right', 'portfolio-p')

        
        .row.content-block
            #tags.col-md-12
           
    include footer.jade