include ./mixins.jade

.portfolio-p.content-block-full
    +back-arrow('fa-chevron-right', 'portfolio-p')
    .container.margin-top-55     
        .row.page-controls.text-center.margin-bottom-55
            +page-title('PORTFOLIO', 'MY PASSION')
    .container   
        .row.content-block
            #tags.col-md-12.margin-bottom-55

    .container.margin-bottom-89.margin-top-55 
        .row
            .col.text-center
                button#loadMoreBtn(onClick='portfolioClass.loadMore()').red-btn Load More
    include footer.jade