include ./mixins.jade

.portfolio-p.content-block-full
    //- .container-fluid
        .row
            .col-md-4
                .row.well
                    | Column A. Block 2
                    br
                    br
                    br
                    br
                    br
         
            .col-md-4
                .row.well
                    | Column B. Block 1
                    br
                    br
                    br
                .row.well
                    | Column B. Block 3
                    br
                    br
            .col-md-4
                .row.well
                    | Column C. Block 1
                    br
                .row.well
                    | Column C. Block 2
                    br
                    br
                    br
                    br
                    br
                .row.well
                    | Column C. Block 3
                    br
                    br
                    br
                .row.well
                    | Column C. Block 4
                    br
                    br
                    br
            .col-md-4
                .row.well
                    | Column D. Block 1
                    br
                    br
                    br
                .row.well
                    | Column D. Block 2
                    br
                    br
                    br
                    br
                    br
                    br
                .row.well
                    | Column D. Block 3
                    br
                    br
                .row.well
                    | Column D. Block 3
                    br
                    br
                .row.well
                    | Column D. Block 3
                    br
                    br

    +back-arrow('fa-arrow-right', 'portfolio-p')
    .container    
        .row.page-controls.text-center.margin-bottom-55
            +page-title('PORTFOLIO', 'MY PASSION')
    .container   
        .row.content-block
            #tags.col-md-12.margin-bottom-55

    include footer.jade