.portfolio-p.content-block-full
    .container
        .row.page-controls
            .col.text-center logo
            .col.text-center
                button(onclick="toggleModal('.portfolio-p')")
                    i.fa.fa-arrow-left(aria-hidden='true')
        .row.content-block
           
    include footer.jade