include ./mixins.jade

.strength-p.content-block-full
    .container
        .row
            //- ABOUT ME
            .col-lg-2.col-xl-3.col-sm-1
            .col-lg-8.col-xl-6.col-sm-10.margin-bottom-4
                .row
                    .col-md-12.text-center
                        +page-title('WHAT I DO', 'TAKE A LOOK')
            .col-lg-2.col-xl-3.col-sm-1
            //- ICONS TOP
            .col-md-12.margin-bottom-4.icons-top
                .row
                    .col-md-6
                        img(src='img/serv1.jpg')
                    .col-md-6
                        .row.skills-icons
                            .col-md-4
                                img(src='./img/Icone_1.png')
                                h6 Logo Design
                            .col-md-4
                                img(src='./img/Icone_2.png')
                            .col-md-4
                                img(src='./img/Icone_3.png')
                            .col-md-4
                                img(src='./img/Icone_4.png')
                            .col-md-4
                                img(src='./img/Icone_5.png')
                            .col-md-4
                                img(src='./img/Icone_6.png')

            //- ICONS TOP
            .col-lg-2.col-xl-3.col-sm-1
            .col-lg-8.col-xl-6.col-sm-10.margin-bottom-4.icons-top
                include ./footer.jade
            .col-lg-2.col-xl-3.col-sm-1
            