include ./mixins.jade

.strength-p.content-block-full
    .container
        .row
            //- ABOUT ME
            .col-lg-2.col-xl-3.col-sm-1
            .col-lg-8.col-xl-6.col-sm-10.margin-bottom-4
                .row
                    .col-md-12.text-center
                        +page-title('WHAT I DO', 'TAKE A LOOK')
            .col-lg-2.col-xl-3.col-sm-1
            //- ICONS TOP
            .col-md-12.margin-bottom-4.icons-top
                .row
                    .col-lg-6.text-center.text-lg-left.skills-slider
                        img(src='img/serv1.jpg')
                    .col-lg-6(style="min-width:300px")
                        .row.skills-icons.text-center
                            .col-sx-4.text-center
                                img(src='./img/Icone_1.png')
                                h5.text-center.font-weight-bold Logo 
                                h5.text-center.font-weight-bold Design
                            .col-sx-4.text-center
                                img(src='./img/Icone_2.png')
                                h5.text-center.font-weight-bold Website
                                h5.text-center.font-weight-bold Design
                            .col-sx-4.text-center
                                img(src='./img/Icone_3.png')
                                h5.text-center.font-weight-bold Graphic 
                                h5.text-center.font-weight-bold Design
                            .col-sx-4.text-center
                                img(src='./img/Icone_4.png')
                                h5.text-center.font-weight-bold Branding
                                h5.text-center.font-weight-bold on Transport
                            .col-sx-4.text-center
                                img(src='./img/Icone_5.png')
                                h5.text-center.font-weight-bold Creative
                                h5.text-center.font-weight-bold Solutions
                            .col-sx-4.text-center
                                img(src='./img/Icone_6.png')
                                h5.text-center.font-weight-bold Professional
                                h5.text-center.font-weight-bold Preparation
                                h5.text-center.font-weight-bold for printing
            //- ICONS TOP
    include ./footer.jade            