$color-text-main: #202020
$color-text-main-light: #bbbbbb
$color-text-main-super-light: #e1e1e1
$color-text-red: #ff0000

html
  -webkit-text-size-adjust: 100%
  box-sizing: border-box
  overflow: hidden

body
  overflow: hidden
  min-width: 100%
  max-width: 100%
  //background-image: url("https://pp.userapi.com/c837429/v837429435/2364e/Bm93TTcYULg.jpg")
  background-repeat: no-repeat
  background-size: cover
  max-width: 100%
  min-width: 100%
  background-position: left top

.index-p, .contact-p, .portfolio-p, .about-p, .strength-p
  overflow: hidden !important
  min-width: 100vw !important
  max-width: 100vw !important
  min-height: 100% !important
  max-height: 100% !important
  min-height: 100vh !important

.about-p, .portfolio-p, .contact-p, .strength-p
  min-height: 100%
  max-height: 100%
  min-width: 100%
  max-width: 100%
  position: fixed
  transition: 0.5s
  display: none
  .page-controls
    display: none

.h1-title-block
  display: flex
  align-items: center
  justify-content: center
  .h1-title
    font-size: 6em
    font-weight: bold
    line-height: 1
    position: relative
    color: $color-text-main-light
//-webkit-background-clip: text
//-webkit-text-fill-color: transparent
//background-image: url(https://media.giphy.com/media/KEyRqrjHR0RJm/giphy.gif)
//color: red
@media (max-width: 991px)
  .h1-title-block
    position: absolute
    left: 0
    top: 0
    padding: 5em

@media (max-width: 500px)
  .h1-title-block
    .h1-title
      font-size: 3em
.show
  .page-controls
    display: flex !important

.display-block
  display: block !important

// .content-block, .content-block-full



.content-block-full
  background: #ffffff
  max-width: 100%
  min-width: 100%
  max-height: 100vh
  min-height: 100vh
  margin: 0px
  padding-top: 50px
  overflow-y: auto !important

.page-controls
  position: relative
  //position: fixed
  width: 100%
  top: 5px
  left: 0
  z-index: 999
  //background: red
  min-height: 50px
  margin-right: 0
  margin-left: 0
  .logo
    left: 0
    right: 0
    margin: auto
    text-align: center
    text-transform: uppercase
    position: relative
    margin-bottom: 4em
    .text
      color: $color-text-main
      border-bottom: 1px  solid $color-text-main
      padding-bottom: 10px
    .minText
      h6
        position: absolute
        right: 0
        background: white
        color: $color-text-red
        padding: 5px
        margin-top: -25px
  .rightButton
    position: absolute
    z-index: 1
    right: 0
    top: 1em
    cursor: pointer

  button
    background: transparent
    border: 0
    outline: none !important
    font-size: 25px
    transition: 0.5s
    cursor: pointer
    color: $color-text-main
    &:hover
      color: lighten($color-text-main, 25%)

// .content-block
//   margin-bottom: 6em


  
@import "./sass/index.sass"
@import "./sass/portfolio.sass"
@import "./sass/about.sass"
@import "./sass/contact.sass"
@import "./sass/strength.sass"
@import "./sass/socialButtons.sass"
@import "./sass/footer.sass"


.display-none
  display: none !important




